<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="./App.js"></script>
    <script src="./Book.js"></script>
    <script src="../AddBook.js"></script>
    <script src="../BookList.js"></script>
    <script src="../EditBook.js""></script>
    <script src="C:\ongoingtasktodo\ongoingtasktodo\NaujaJSPAMOKA\Frontend-Backend\books-app\backend\routes\books.js"></script>
    <script src="C:\ongoingtasktodo\ongoingtasktodo\NaujaJSPAMOKA\Frontend-Backend\books-app\backend\routes\index.js"></script>
    <script src="C:\ongoingtasktodo\ongoingtasktodo\NaujaJSPAMOKA\Frontend-Backend\books-app\backend\models\book.js"></script>
</body>
</html>